<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:annotation-config />

	<context:component-scan base-package="com.morcinek.finance" />

	<import resource="services.xml" />

	<!-- main frame -->
	<bean id="mainTable" class="com.morcinek.finance.ui.table.BaseTable"
		init-method="init">
		<property name="model">
			<ref bean="listTableModel" />
		</property>
		<property name="autoCreateRowSorter">
			<value>true</value>
		</property>
		<property name="rowRenderers">
			<list>
				<ref bean="incomeRowRenderer" />
				<ref bean="simpleRowRenderer" />
			</list>
		</property>
		<property name="mouseListener">
			<bean class="com.morcinek.finance.ui.action.PaymentDialogMouseListener">
				<property name="window">
					<ref bean="mainFrame" />
				</property>
			</bean>
		</property>
	</bean>
	<bean id="mainFrame" class="com.morcinek.finance.ui.MainFrame"
		init-method="init">
		<property name="title">
			<value>My finance Manager</value>
		</property>
		<property name="contentPane">
			<ref bean="mainPanel" />
		</property>
	</bean>
	<bean id="searchListener" class="com.morcinek.finance.ui.action.SearchListener">
		<property name="table">
			<ref bean="mainTable" />
		</property>
	</bean>
	<bean id="mainPanel" class="com.morcinek.finance.ui.components.BoxLayoutPanel"
		init-method="init">
		<property name="axis">
			<value>1</value>
		</property>
		<property name="panelComponents">
			<list>
				<bean id="northPanel" class="com.morcinek.finance.ui.components.BoxLayoutPanel"
					init-method="init">
					<property name="axis">
						<value>0</value>
					</property>
					<property name="panelComponents">
						<list>
							<bean id="searchPanel" class="com.morcinek.finance.ui.components.SearchPanel">
								<constructor-arg>
									<value>Title2</value>
								</constructor-arg>
								<property name="actionListener">
									<ref bean="searchListener" />
								</property>
								<property name="caretListener">
									<ref bean="searchListener" />
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean id="itemScrollPane" class="javax.swing.JScrollPane">
					<constructor-arg>
						<ref bean="mainTable" />
					</constructor-arg>
				</bean>
				<bean id="southComponent" class="com.morcinek.finance.ui.components.BoxLayoutPanel"
					init-method="init">
					<property name="axis">
						<!-- "0" corresponds to BoxLayout.X_AXIS -->
						<value>0</value>
					</property>
					<property name="panelComponents">
						<list>
							<ref bean="readCVSButton" />
							<ref bean="populateTable" />
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>

	<bean id="applicationModal" class="java.awt.Dialog.ModalityType"
		factory-method="valueOf">
		<constructor-arg value="APPLICATION_MODAL" />
	</bean>

	<!-- mergeDialog -->
	<bean id="mergeDialog" class="javax.swing.JDialog">
		<property name="title">
			<value>My finance Manager</value>
		</property>
		<property name="contentPane">
			<ref bean="dialogPanel" />
		</property>
		<property name="modalityType">
			<ref bean="applicationModal" />
		</property>
	</bean>
	<bean id="mergeTable" class="com.morcinek.finance.ui.table.BaseTable"
		init-method="init">
		<property name="model">
			<ref bean="listTableModel" />
		</property>
		<property name="rowRenderer">
			<ref bean="validationRowRenderer" />
		</property>
		<property name="mouseListener">
			<bean class="com.morcinek.finance.ui.action.PaymentDialogMouseListener">
				<property name="window">
					<ref bean="mergeDialog" />
				</property>
			</bean>
		</property>
	</bean>
	<bean id="dialogPanel" class="com.morcinek.finance.ui.components.BoxLayoutPanel"
		init-method="init">
		<property name="axis">
			<value>1</value>
		</property>
		<property name="panelComponents">
			<list>
				<bean class="com.morcinek.finance.ui.components.BoxLayoutPanel"
					init-method="init">
					<property name="axis">
						<value>0</value>
					</property>
					<property name="panelComponents">
						<list>
							<bean class="com.morcinek.finance.ui.components.BaseButton">
								<property name="actionCommand">
									<value>update_all</value>
								</property>
								<property name="text">
									<value>Update all Payments</value>
								</property>
								<property name="actionListener">
									<ref bean="mergeActionListener" />
								</property>
							</bean>
							<bean class="com.morcinek.finance.ui.components.BaseButton">
								<property name="actionCommand">
									<value>update_selected</value>
								</property>
								<property name="text">
									<value>Update selected Payments</value>
								</property>
								<property name="actionListener">
									<ref bean="mergeActionListener" />
								</property>
							</bean>
							<bean class="com.morcinek.finance.ui.components.BaseButton">
								<property name="actionCommand">
									<value>back</value>
								</property>
								<property name="text">
									<value>Go back</value>
								</property>
								<property name="actionListener">
									<ref bean="mergeActionListener" />
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="javax.swing.JScrollPane">
					<constructor-arg>
						<ref bean="mergeTable" />
					</constructor-arg>
				</bean>
			</list>
		</property>
	</bean>
	<bean id="readCVSButton" class="com.morcinek.finance.ui.components.BaseButton">
		<property name="text">
			<value>Wczytaj CVS</value>
		</property>
		<property name="actionListener">
			<ref bean="fileChooserAction" />
		</property>
	</bean>
	<bean id="populateTable" class="com.morcinek.finance.ui.components.BaseButton">
		<property name="actionCommand">
			<value>populateTable</value>
		</property>
		<property name="text">
			<value>Populate Table</value>
		</property>
		<property name="actionListener">
			<ref bean="populateActionListener" />
		</property>
	</bean>

	<bean id="categoryTextField" class="javax.swing.JTextField">
		<constructor-arg>
			<value type="int">30</value>
		</constructor-arg>
	</bean>
	<!-- categories dialog -->
	<bean id="categoriesDialog" class="javax.swing.JDialog" scope="prototype">
		<property name="title">
			<value>Categories Dialog</value>
		</property>
		<property name="contentPane">
			<bean class="com.morcinek.finance.ui.components.BorderPanel">
				<property name="northComponent">
					<ref bean="categoryTextField" />
				</property>
				<property name="southComponent">
					<bean class="com.morcinek.finance.ui.components.BoxLayoutPanel"
						init-method="init">
						<property name="axis">
							<value>0</value>
						</property>
						<property name="panelComponents">
							<list>
								<bean class="com.morcinek.finance.ui.components.BaseButton">
									<property name="actionCommand">
										<value>add_category</value>
									</property>
									<property name="text">
										<value>Add category</value>
									</property>
									<property name="actionListener">
										<ref bean="categoriesActionListener" />
									</property>
								</bean>
								<bean class="com.morcinek.finance.ui.components.BaseButton">
									<property name="actionCommand">
										<value>delete_category</value>
									</property>
									<property name="text">
										<value>Delete selected Category</value>
									</property>
									<property name="actionListener">
										<ref bean="categoriesActionListener" />
									</property>
								</bean>
								<bean class="com.morcinek.finance.ui.components.BaseButton">
									<property name="actionCommand">
										<value>back</value>
									</property>
									<property name="text">
										<value>Go back</value>
									</property>
									<property name="actionListener">
										<ref bean="categoriesActionListener" />
									</property>
								</bean>
							</list>
						</property>
					</bean>
				</property>
				<property name="centerComponent">
					<ref bean="hierarchyPanel" />
				</property>
			</bean>
		</property>
		<property name="modalityType">
			<ref bean="applicationModal" />
		</property>
	</bean>

	<!-- confirm panel -->
	<bean id="confirmPanel" class="com.morcinek.finance.ui.components.BorderPanel">
		<property name="centerComponent">
			<ref bean="hierarchyPanel" />
		</property>
		<property name="southComponent">
			<bean class="com.morcinek.finance.ui.components.BasePanel"
				scope="prototype" init-method="init">
				<property name="panelComponents">
					<list>
						<bean class="com.morcinek.finance.ui.components.BaseButton">
							<property name="actionCommand">
								<value>confirm</value>
							</property>
							<property name="text">
								<value>Confirm</value>
							</property>
						</bean>
						<bean class="com.morcinek.finance.ui.components.BaseButton">
							<property name="actionCommand">
								<value>back</value>
							</property>
							<property name="text">
								<value>Cancel</value>
							</property>
						</bean>
					</list>
				</property>
			</bean>
		</property>
	</bean>
</beans>