# Lines starting with '#' are considered comments.
# Ignore any file named foo.txt.
/finances-base/target/
/finances-base/bin/
/finances-base/*.db
/finances-base/src/main/generated/
/finances-base/*.exe
*.csv